
h1{color:#0000cc;font-size:30pt;font-family: serif;background-color: orange;border: 5px solid blue;padding: 10px; margin: 20px; text-align: center;}
h3{color:aqua;font-size:20pt;text-align: center;}
main p{color:red;font-family: sans-serif;}
li {color:blueviolet}
#li2{color:darkgoldenrod}
#img1{
    float:right; width: 20%;
}
body{background-color: purple;margin: 15px;}
footer{border-top:5px solid blue; padding-top: 5px}
footer a {color:darkblue;}
footer a:link {color:darkblue}
footer a:visited {color:purple;}
#li3{color:aquamarine;}
#reflection::first-letter {color:blue; font-family: sans-serif; font-style: italic;}
#reflection {text-indent: 2em;}
@media screen and (max-width:488px) {
    body{
        font-family:sans-serif;
        margin: 15px 15px 15px 15px;
        padding:0;
        width: 100%;
    }
    #img1{
        max-width:50%;
    }
    ul {
        width: 90%;
    }
    a{
        width:100%;
    }
}

