@font-face {
    font-family:notosans;
    src:url("notosansjp-bold.otf");
}
h1{color:#0000cc;font-size:30pt;font-family: serif;background-color: orange;border: 5px solid blue;padding: 10px; margin: 20px; text-align: center;}
h3{color:aqua;font-size:20pt;text-align: center;}
main p{color:red;font-family:'Jost', sans-serif;}
li {color:blueviolet}
#li2{color:darkgoldenrod}
#img1{
    float:right; width: 20%;
}
body{background-color: purple;margin: 15px;}
footer{border-top:1px solid blue; padding-top: 1px; color:white;}
footer a {color:white;}
footer a:link {color:white;}
footer a:visited {color:red;}
footer{
    background-image: url(milky-way-2695569_960_720.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    width= 100%;
}
footer img{
    color:white;
}
iframe {
    align-items: center;
}
#li3{color:aquamarine;}
#reflection::first-letter {color:blue; font-family: sans-serif; font-style: italic;}
#reflection {text-indent: 2em;}
@media screen and (max-width:488px) {
    body{
        font-family:sans-serif;
        margin: 15px 15px 15px 15px;
        padding:0;
        width: 100%;
    }
    #img1{
        max-width:50%;
    }
    ul {
        width: 90%;
    }
    a{
        width:100%;
    }
}
@media print {
   /*HIDDEN ELEMENTS*/
    nav{
        display:none;
    }
    footer a{
        display:none;
    }
    
  
     /* GLOBAL ELEMENTS */
    body {
        font-family: sans-serif;
        font-size: 16pt;
        line-height: 24pt;
        background: none;
    }
    /*LAYOUT RESET*/
    .final-result,
    .info,
    section,
    footer
    {
        background:none;
        width: 100%;
        border:none;
        padding:0;
        margin:0;
        text-align: center;
    }
    h1 {
        font-size:30pt;
        margin: 0 0 20pt;
        text-align: center;
        width:97%;
        transform: rotate(0);
    }
    img{
        height: 100px;
        width:300px;
    }
    main p{
        font-family: 'Jost', sans-serif;
        font-size: 15pt;
        
    }
    ul{
        width:90%;
        font-size:15pt;
        font-family:sans-serif;
    }
    blockquote {
        font-family: sans-serif;
        font-size:10pt;
        
    }
    
    
}

